body {
    background-color: lightblue;
    background-image: url("C:\Users\user\Desktop\calculator\src\assets\images (1).jpg");
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
  background-size: cover;
  top:0;
  left:0;
  right:0;
  margin:auto;

  }
  .label {
    color: black;
    padding: 8px;
  }
  .success {
color:black
}
